@charset "UTF-8";
body {
  font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku 　Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif; }

body > main {
  -ms-overflow-x: hidden; }

header {
  position: fixed;
  z-index: 4;
  width: 100%;
  background-color: #fff; }

.mg-bt10 {
  margin-bottom: 10px; }

.topInfo {
  min-height: 720px;
  transition: all 1s ease; }
  .topInfo__blankDiv {
    height: 120px; }
  .topInfo__breadcrum {
    border-top: 1px solid #e7e9eb;
    border-bottom: 1px solid #e7e9eb;
    padding: 20px 0; }
    .topInfo__breadcrum--child {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .topInfo__breadcrum--child a, .topInfo__breadcrum--child a:hover, .topInfo__breadcrum--child a:active, .topInfo__breadcrum--child a:focus, .topInfo__breadcrum--child a:visited {
        text-decoration: none;
        color: #333;
        font-size: 14px; }
      .topInfo__breadcrum--child a.active {
        font-weight: bold; }
      .topInfo__breadcrum--child p {
        margin: 0 10px;
        color: #bbcfe1; }
  .topInfo__title {
    margin-top: 100px; }
    .topInfo__title h2 {
      max-width: 320px;
      width: 100%;
      margin: auto;
      text-align: center;
      color: #0165be;
      font-size: 36px;
      font-weight: bold; }
  @media screen and (max-width: 1023px) {
    .topInfo {
      min-height: 690px; } }
  @media screen and (max-width: 896px) {
    .topInfo {
      min-height: 640px; } }
  @media screen and (max-width: 767px) {
    .topInfo {
      min-height: 550px; } }
  @media screen and (max-width: 623px) {
    .topInfo {
      min-height: 480px; } }
  @media screen and (max-width: 480px) {
    .topInfo {
      min-height: 390px; } }

.imgInfo {
  height: 315px;
  background-color: #e7e9eb;
  position: relative;
  z-index: 0; }
  .imgInfo__image {
    min-height: 315px;
    position: relative; }
    .imgInfo__image figure {
      position: absolute;
      bottom: 115px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 960px;
      width: 100%;
      max-height: 500px; }
  @media screen and (max-width: 480px) {
    .imgInfo {
      height: auto; }
      .imgInfo__image {
        min-height: auto; }
        .imgInfo__image figure {
          position: unset;
          bottom: 0;
          left: 0;
          transform: unset; } }

.textInfo {
  padding: 90px 0;
  border-bottom: 1px solid #e7e9eb; }
  .textInfo__title h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0 0 50px; }
  .textInfo__content__list {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    max-width: 720px;
    width: 100%;
    margin: auto; }
    .textInfo__content__list__child:first-child {
      width: 170px;
      margin-right: 30px; }
    .textInfo__content__list__child h3 {
      font-size: 16px;
      font-weight: bold;
      color: #333; }
    .textInfo__content__list__child p {
      font-size: 16px;
      color: #333;
      margin-bottom: 15px; }
  .textInfo__btn {
    max-width: 360px;
    width: 100%;
    background-color: #0165be;
    margin: auto;
    margin-top: 20px;
    border-radius: 50px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    position: relative; }
    .textInfo__btn a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    .textInfo__btn--iconPdf {
      margin-right: 5px;
      width: 25px;
      height: 25px; }
    .textInfo__btn--download {
      margin-left: 10%;
      position: relative;
      z-index: 0;
      width: 30px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .textInfo__btn--download span:last-child {
        position: absolute;
        width: 25px;
        height: 10px;
        background-color: #0165be;
        border: 2px solid #fff;
        border-top: none;
        bottom: 0;
        left: 50%;
        z-index: -1;
        transform: translateX(-50%); }

.timeline {
  padding: 50px 0 100px; }
  .timeline__title h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0 0 50px; }
  .timeline__content {
    max-width: 820px;
    width: 100%;
    margin: auto; }
    .timeline__content .listTimeLine {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 15px;
      min-height: 100px; }
      .timeline__content .listTimeLine__year {
        margin-right: 20px; }
        .timeline__content .listTimeLine__year h3 {
          font-size: 28px;
          font-weight: bold;
          color: #0165be; }
      .timeline__content .listTimeLine__linePoint {
        width: 145px;
        position: relative; }
        .timeline__content .listTimeLine__linePoint .linePoint {
          display: block;
          background-color: #0165be;
          position: absolute;
          transition: all 0.5s ease;
          transform: scale(0); }
          .timeline__content .listTimeLine__linePoint .linePoint.lp1 {
            width: 25px;
            height: 25px;
            top: 0;
            left: 0;
            border-radius: 50%;
            transform-origin: center center; }
          .timeline__content .listTimeLine__linePoint .linePoint.lp2 {
            width: 5px;
            height: 100%;
            top: 0;
            left: calc(20px / 2);
            transform-origin: top center; }
          .timeline__content .listTimeLine__linePoint .linePoint.lp3 {
            width: 100%;
            height: 2px;
            top: calc(25px / 2);
            left: 0;
            transform-origin: left center; }
          .timeline__content .listTimeLine__linePoint .linePoint.draw {
            transform: scale(1); }
      .timeline__content .listTimeLine__content {
        font-size: 16px;
        color: #333;
        margin-bottom: 15px;
        width: 100%;
        margin-bottom: 0; }
        .timeline__content .listTimeLine__content > div {
          border: 1px solid #0165be;
          border-radius: 15px;
          padding: 20px;
          transition: all 0.7s ease;
          transform-origin: left center;
          transform: scale(0); }
          .timeline__content .listTimeLine__content > div.draw {
            transform: scale(1); }
        .timeline__content .listTimeLine__content--blue {
          background-color: #e8f4fc;
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          .timeline__content .listTimeLine__content--blue p:first-child {
            background-color: #0165be;
            margin-right: 10px;
            padding: 0 10px;
            color: #fff; }

.footer {
  background-color: #13293d;
  position: relative;
  z-index: 0; }
  .footer::after {
    content: '';
    position: absolute;
    background-color: #0165be;
    top: 0;
    right: 0;
    bottom: 129px;
    left: 0;
    z-index: -1; }

/*# sourceMappingURL=common.css.map */
