@charset "UTF-8";
body {
  font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku 　Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif; }

body > main {
  -ms-overflow-x: hidden; }

header {
  position: fixed;
  z-index: 4;
  width: 100%; }

.topInfo {
  min-height: 760px; }
  .topInfo__blankDiv {
    height: 120px; }
  .topInfo__breadcrum {
    border-top: 1px solid #e7e9eb;
    border-bottom: 1px solid #e7e9eb;
    padding: 20px 0; }
    .topInfo__breadcrum--child {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .topInfo__breadcrum--child a, .topInfo__breadcrum--child a:hover, .topInfo__breadcrum--child a:active, .topInfo__breadcrum--child a:focus, .topInfo__breadcrum--child a:visited {
        text-decoration: none;
        color: #333;
        font-size: 14px; }
      .topInfo__breadcrum--child a.active {
        font-weight: bold; }
      .topInfo__breadcrum--child p {
        margin: 0 10px;
        color: #bbcfe1; }
  .topInfo__title {
    margin-top: 100px; }
    .topInfo__title h2 {
      max-width: 320px;
      width: 100%;
      margin: auto;
      text-align: center;
      color: #0165be;
      font-size: 36px;
      font-weight: bold; }

.imgInfo {
  height: 315px;
  background-color: #e7e9eb;
  position: relative;
  z-index: 0; }
  .imgInfo__image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 115px; }

.textInfo {
  padding: 90px 0;
  border-bottom: 1px solid #e7e9eb; }
  .textInfo__title h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0 0 50px; }
  .textInfo__content__list {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    max-width: 720px;
    width: 100%;
    margin: auto; }
    .textInfo__content__list__child:first-child {
      width: 170px;
      margin-right: 30px; }
    .textInfo__content__list__child h3 {
      font-size: 16px;
      font-weight: bold;
      color: #333; }
    .textInfo__content__list__child p {
      font-size: 16px;
      color: #333;
      margin-bottom: 15px; }
  .textInfo__btn {
    max-width: 360px;
    width: 100%;
    background-color: #0165be;
    margin: auto;
    margin-top: 20px;
    border-radius: 50px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    position: relative; }
    .textInfo__btn a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    .textInfo__btn--iconPdf {
      margin-right: 5px;
      width: 25px;
      height: 25px; }
    .textInfo__btn--download {
      margin-left: 10%;
      position: relative;
      z-index: 0;
      width: 30px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .textInfo__btn--download span:last-child {
        position: absolute;
        width: 25px;
        height: 10px;
        background-color: #0165be;
        border: 2px solid #fff;
        border-top: none;
        bottom: 0;
        left: 50%;
        z-index: -1;
        transform: translateX(-50%); }

.timeline {
  padding: 50px 0 100px; }
  .timeline__title h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0 0 50px; }
  .timeline__content {
    max-width: 820px;
    width: 100%;
    margin: auto; }
    .timeline__content .listTimeLine {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start; }
      .timeline__content .listTimeLine__year {
        font-size: 28px;
        font-weight: bold;
        color: #0165be;
        margin-right: 20px; }
      .timeline__content .listTimeLine__linePoint {
        width: 115px; }
      .timeline__content .listTimeLine__content {
        font-size: 16px;
        color: #333;
        margin-bottom: 15px;
        width: 100%; }
        .timeline__content .listTimeLine__content > div {
          border: 1px solid #0165be;
          border-radius: 15px;
          padding: 20px; }
        .timeline__content .listTimeLine__content--blue {
          background-color: #e8f4fc; }

/*# sourceMappingURL=common.css.map */
